@use 'colors' as *;

.queue {
    height: 100%;
    padding: 1.2rem;
    border-radius: 18px;
    border: 1px solid rgba(120, 0, 255, 0.35);

    box-shadow:
        0 0 28px rgba(120, 0, 255, 0.4),
        inset 0 0 14px rgba(120, 0, 255, 0.15);

    overflow: hidden;

    h2 {
        margin: 0 0 1rem 0;
        font-size: 0.95rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        flex-shrink: 0;
    }

    .queue-item {
        padding: 10px 8px;
        border-radius: 12px;
        cursor: pointer;

        transition:
            background 0.2s ease,
            box-shadow 0.2s ease,
            transform 0.15s ease;

        &:hover {
            background: rgba(180, 0, 255, 0.12);
            box-shadow: inset 0 0 0 1px $neon-purple-border-color;
            transform: translateX(2px);
        }
    }

    .queue-item img {
        width: 140px;
        height: 60px;
        border-radius: 8px;
        object-fit: cover;
        flex-shrink: 0;
    }

    .queue-info strong {
        font-size: 0.8rem;
        font-weight: 600;
    }

    .queue-info span {
        font-size: 0.65rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $muted;
    }


    .queue-empty {
        margin: auto;
        font-size: 0.75rem;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $muted;
    }
}

@media (max-width: 768px) {
    .queue {
        padding: 1.2rem;
    }

    .queue-item img {
        width: 42px;
        height: 42px;
    }
}