.bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-28 {
    font-size: 24px;
}

.bold {
    font-weight: 500;
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}