@use 'colors' as *;
@use 'layouts' as *;
@use 'typography' as *;
@use 'modal' as *;
@use 'input' as *;
@use 'button' as *;

html,
body {
  height: 100%;
  margin: 0;
  color: --color-white;
}

.container-overflow {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Orbitron', sans-serif;
  color: $white-pure;
  margin: 0 auto;
  padding: 10px;
  border-radius: 12px;
}